body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

#action-bar {
    background-color: teal;
    height: 8vh;
    display: flex;
}

#action-bar *{
    border: 3px solid white;
    border-radius: 3px;
    margin: 10px 5px;
    padding: 4px;
    cursor: pointer;
    
}

#action-bar select{
    margin: 10px;
    background-color: aquamarine;
}

#action-bar span:hover{
    background-color: aliceblue;
}

#content {
    
    height: 92vh;
    display: flex;
}

#content-list{
    border: 5px solid red;
    width: 15vw;
}

#content-detail {
    border: 5px solid blue;
    width: 85vw;
}

#overlay{
    height: 100px;
    width: 100px;
    background-color: red;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
}
